@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-8">
        <div>
            <h2>Velkommen</h2>
            <p>
                <i><b style="text-decoration: underline;">Your</b></i> looking at the frontpage, of  <i><b style="text-decoration: underline;">you're</b></i> the amazing project....
            </p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h3>Endnu ikke medlem?</h3>
            <p>@Html.ActionLink("Opret bruger", "CreateUser", "User", null, new {@class = "btn btn-default"})</p>
        </div>
    </div>
</div>