@model global::WebClient.Models.LogOnModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Velkommen</h2>
@if (Request.IsAuthenticated)
{
    <div class="col-6 col-sm-6 col-lg-4">
        <h3>Rejsekort indbetaling</h3>
        @Html.ActionLink("Indbetal", "DepositMoney", "Deposit", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-6 col-sm-6 col-lg-4">
        <h3>Se Rejseoversigt</h3>
        @Html.ActionLink("Rejseoversigt", "ViewTravelDetails", "Travel", null, new { @class = "btn btn-default" })
    </div>
}
else
{
    <p>Not authenticated</p>
}